@page
@model Project.Web.Pages.Admin.Users.Index

@{
    Layout = "Shared/_AdminLayout";
}

@{
    ViewData["Title"] = "user list";
}
<div class="container mt-3">
  <h2>Lis of users</h2>
  <div class="container mt-5">
    <form class="mb-3">
      <div class="input-group">
        <input type="text" name="filterUsername" class="form-control" placeholder="Username...">
        <input type="text" name="filterEmail" class="form-control" placeholder="Email...">
        <button type="submit" class="btn btn-primary btn-sm">Search</button>
        <a href="/Admin/Users" class="btn btn-info btn-sm">Clear</a>
      </div>
    </form>
  </div>        
  <div class="row" style="margin-left: 5px;">
    <div class="container">
      <a href="#" class="btn btn-success btn-sm">Add new user</a>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Username</th>
      <th>Email</th>
      <th>Status</th>
      <th>Register Date</th>
      <th>Commands</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model.UserForAdminViewModel.Users)
    {
      <tr>
        <td>@user.Username</td>
        <td>@user.Email</td>
        <td>
          @if (user.IsActive)
          {
            <p class="text-success">Active</p>
          }
          else
          {
            <p class="text-danger">DeActive</p>
          }
        </td>
        <td>@user.RegisterDate</td>
        <td>
          <a href="#" class="btn btn-warning btn-sm">Edit</a>
          <a href="#" class="btn btn-danger btn-sm">Delete</a>
        </td>
      </tr>
    }
    </tbody>
  </table>
</div>
<div class="container ">
  <ul class="pagination">
    @for (int i = 1; i <= Model.UserForAdminViewModel.PageCount; i++)
    {
      <li class="page-item" @((i == Model.UserForAdminViewModel.CurrentPage)?"active":"")>
        <a class="page-link" href="/Admin/Users?PageId=@i">@i</a>
      </li>

    }
  </ul>
</div>

